.navbardark{
  position:sticky;
  top:0;
  left: 0;
  width:100%;
  background:#000;
  z-index: 9;
}
.navbarlight{
  position:sticky;
  top:0;
  left: 0;
  width:100%;
  background:#ffff;
  z-index: 9;
}
.nav{
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}
.navItems{
  color: #d1d1d1;
  display: flex;
  align-items: center;

}
.search{
  width: 500px;
  display: flex;
}
.searchBoxdark{
  width:80%;
  height:40px;
  padding: 10px;
  color:#d1d1d1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border:1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  outline: none;
  
}
.searchBoxlight{
  width:80%;
  height:40px;
  padding: 10px;
  color:#000;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border:1px solid #000;
  text-transform: capitalize;
  background: none;
  outline: none;
}
.btn{
  background: none;
  border: none;
}
.searchBtn{
  margin-left:10px;
  width:20%;
  height:42px;
  border-radius:5px;
  background: black;
  color:#d1d1d1;
  border: 1px solid white;
  font-size: 20px;
}
.user{
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
}
.cart{
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
}
.linkContainer{
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  list-style: none;
}
.linkdark{
  text-transform: capitalize;
  margin:0 5px;
  padding:0 10px;
  text-decoration: none;
  color:#000;
  font-weight: 600;
}
.linklight{
  text-transform: capitalize;
  margin:0 5px;
  padding:0 10px;
  text-decoration: none;
  color:#fff;
  font-weight: 600;
}
.linklight:hover{
  color: grey;
  opacity: 0.8;
}
.linkdark:hover{
  color: grey;
  opacity: 0.8;
}
.theme {
  margin-top: 5px;
  margin-left: 10px;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate{
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.gradientcustom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
.cardbox{
  width: 20rem;
  margin-left: 1rem;
}
.container{
  margin-top: 0.2rem;
  display: flex;
}


.imagecontainer {
  position: relative;
  
}
.imgk{
  width:100%;
  height:400px;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

.prevbutton, .nextbutton {
  position: absolute;
  top: 50%;
  font-size: 30px;
  font-weight: bold;
  padding: 16px;
  border: none;
  background-color: transparent;
  color: rgb(230, 224, 224);
  cursor: pointer;
  transform: translateY(-50%);
}

.prevbutton {
  left: 0;
}

.nextbutton {
  right: 0;
}
.indContainer{
  position: absolute;
  display: flex;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.ind{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border:1px solid white;
  margin-left: 5px;
}
.indc{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: 5px;
}
.course{
  display: flex;
  color: #fff;
  font-size: 20px;
}
.courseCon{
  display: flex;
  justify-content: space-between;
}
.coursetext{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  padding-left: 10px;

}
.viewbtn{
  margin: 5px;
  border-radius: 5px;
  color:#fff;
  background:#231f20;
  border: 2px rgb(63, 61, 61) solid;
  padding-left: 8px;
  padding-right: 8px;
}
.container2{
  margin-top: 2rem;
  display: flex;
}
